*{
    margin: 0;
    padding: 0;
    background-color: black;
}
h1{
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 50px;
    color: #fff;
}
.box{
    margin-bottom: 15px;
    height: 200px;
    width: 400px;
    border: 1px solid #fff;
    border-radius: 20px;
    position: relative;
    left: 70vh;
    top: 100px;
    background-color: #fff;
}
input{
    width: 470px;
    padding: 10px 10px;
    font-size: 1.5rem;
    color: rgb(12, 12, 12);
    border-radius: 5px;
    position: relative;
    top: 130px;
    left: 375px;
    background-color: #fff;
    
}
